[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tulachana
[access "refs/for/refs/*"]
	read = group user/tulachana
	push = group user/tulachana
	label-Code-Review = -2..+2 group user/tulachana
	label-Verified = -1..+1 group user/tulachana
	rebase = group user/tulachana
	removeReviewer = group user/tulachana
	submit = group user/tulachana
[access "refs/heads/*"]
	read = group user/tulachana
	create = group user/tulachana
	push = +force group user/tulachana
	pushMerge = group user/tulachana
[access "refs/tags/*"]
	push = +force group user/tulachana
	pushTag = group user/tulachana
	pushSignedTag = group user/tulachana
